<% include header.html %>
    <div class="wrapper">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <form class="panel-body container-fluid" data-toggle="validator" name="theform" id="theform" method="post" action="/score" role="form">
                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label">Customer name</label>
                        <div class="col-sm-3"><input type="text" class="form-control" required value="Charles"></div>
                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label">Photo</label>
                        <div class="col-sm-8">
                            <span class="glyphicon glyphicon-user img-thumbnail" style="font-size:5em;color:steelblue" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A1">Status of existing checking account</label>
                        <div class="col-sm-8"><select class="form-control" class="form-control" name="A1" id="A1">
						<option value="1"> &lt; 0 DM </option>
						<option value="2"> [0, 200) DM </option>
						<option value="3"> &gt;= 200 DM </option>
						<option value="4"> No checking account </option>
						</select></div>
                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A2">Duration in month</label>
                        <div class="col-sm-3"><input type="number" class="form-control" name="A2" id="A2" required></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A3">Credit history</label>

                        <div class="col-sm-8"><select class="form-control" name="A3" id="A3">
						<option value="0"> No credits taken / all credits paid back duly </option>
						<option value="1"> All credits at this bank paid back duly </option>
						<option value="2"> Existing credits paid back duly till now </option>
						<option value="3"> Delay in paying off in the past </option>
						<option value="4"> Critical account / other credits existing (not at this bank)</option>
						</select></div>

                    </div>
                    <div class="col-md-6 form-group form-group-lg"><label class="col-sm-3 control-label" for="A4">Purpose</label>

                        <div class="col-sm-8"><select class="form-control" name="A4" id="A4">
						<option value="0"> car (new) </option>
						<option value="1"> car (used) </option>
						<option value="2"> furniture/equipment </option>
						<option value="3"> radio/television </option>
						<option value="4"> domestic appliances</option>
						<option value="5"> repairs </option>
						<option value="6"> education </option>
						<option value="7"> (vacation - does not exist?) </option>
						<option value="8"> retraining </option>
						<option value="9"> business </option>
						<option value="10"> others </option>
						</select></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A5">Credit amount</label>
                        <div class="col-sm-3"><input type="text" class="form-control" name="A5" id="A5" required></div>
                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A6">Savings account/bonds</label>
                        <div class="col-sm-8"><select class="form-control" name="A6" id="A6">
						<option value="1"> &lt; 100 DM </option>
						<option value="2"> [100, 500) DM </option>
						<option value="3"> [500, 1000) DM </option>
						<option value="4"> &gt;= 1000 DM </option>
						<option value="5"> Unknown / no savings account </option>
						</select></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A7">Present employment since</label>
                        <div class="col-sm-8"><select class="form-control" name="A7" id="A7">
						<option value="1"> unemployed </option>
						<option value="2"> &lt; 1 year </option>
						<option value="3"> [1,4) years </option>
						<option value="4"> [4,7) years </option>
						<option value="5"> &gt;= 7 years </option>
						</select></div>
                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A8">Installment rate in percentage of disposable income</label>
                        <div class="col-sm-3"><input type="text" class="form-control" name="A8" id="A8" required></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A9">Personal status and sex</label>

                        <div class="col-sm-8"><select class="form-control" name="A9" id="A9">
						<option value="1"> male   : divorced/separated </option>
						<option value="2"> female : divorced/separated/married </option>
						<option value="3"> male   : single </option>
						<option value="4"> male   : married/widowed </option>
						<option value="5"> female : single </option>
						</select></div>

                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A10">Other debtors / guarantors</label>
                        <div class="col-sm-8"><select class="form-control" name="A10" id="A10">
						<option value="1"> none </option>
						<option value="2"> co-applicant </option>
						<option value="3"> guarantor </option>
						</select></div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A11">Present residence since</label>
                        <div class="col-sm-3"><input type="text" class="form-control" name="A11" id="A11" required></div>
                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A12">Property</label>
                        <div class="col-sm-8"><select class="form-control" name="A12" id="A12">
						<option value="1"> real estate </option>
						<option value="2"> if no real estate, building society savings agreement / life insurance </option>
						<option value="3"> if not two of the above, car or other, not in "Savings account/bonds" </option>
						<option value="4"> unknown / no property </option>
						</select></div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A13">Age in years</label>
                        <div class="col-sm-2"><input type="number" class="form-control" name="A13" id="A13" required></div>

                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A14">Other installment plans</label>
                        <div class="col-sm-8"><select class="form-control" name="A14" id="A14">
						<option value="1"> bank </option>
						<option value="2"> stores </option>
						<option value="3"> none </option>
						</select></div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A15">Housing</label>
                        <div class="col-sm-8"><select class="form-control" name="A15" id="A15">
						<option value="1"> rent </option>
						<option value="2"> own </option>
						<option value="3"> for free </option>
						</select></div>

                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A16">Number of existing credits at this bank</label>
                        <div class="col-sm-2"><input type="number" class="form-control" name="A16" id="A16" required></div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A17">Job</label>

                        <div class="col-sm-8"><select class="form-control" name="A17" id="A17">
						<option value="1"> unemployed/ unskilled  - non-resident </option>
						<option value="2"> unskilled - resident </option>
						<option value="3"> skilled employee / official </option>
						<option value="4"> management / self-employed / highly qualified employee / officer </option>
						</select></div>

                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A18">Number of people being liable to provide maintenance for</label>
                        <div class="col-sm-3"><input type="number" class="form-control" name="A18" id="A18" required></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A19">Telephone</label>

                        <div class="col-sm-8"><select class="form-control" name="A19" id="A19">
						<option value="1"> none </option>
						<option value="2"> yes, registered under the customers name </option>
						</select></div>

                    </div>
                    <div class="col-md-6 form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="A20">foreign worker</label>
                        <div class="col-sm-8"><select class="form-control" name="A20" id="A20">
						<option value="1"> yes </option>
						<option value="2"> no </option>
						</select></div>

                    </div>
                </div>
                <center>
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Assess Risk</button>
                    <h2 id="result"></h2>
                </center>
            </form>
        </div>
    </div>
    <% include footer.html %>
        <script src="javascripts/index.js" language="JavaScript"></script>
        </body>

        </html>